*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border: 1px solid;
    text-align: justify;
    width: 400px;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.cover{
    position: relative;
    padding: 30px 20px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.object{
    background-color: black;
    height: 100px;
    width: 50px;
    position: absolute;
    bottom: 250px;
    left: 310px;
}

.details{
    padding: 25px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.description{
    width: 80%;
}

.price-rating{
    height: 50px;
    display: flex;
    padding: 0px 25px 0 25px;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 3rem;
    font-weight: bolder;
}

.star{
    width: 50%;
}

.discount{
    display: grid;
    padding: 0px 25px 0px 25px;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.fifty{
    border-top: 2px solid #f10202;
    font-weight: 500;
    margin-bottom: 5px;
}

.cart{
    border: 1px solid black;
    padding: 2px;
    font-size: 2rem;
    text-align: center;
    background-color: black;
    color: white;
}