        body{
            margin: 10px;
            padding: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .container{
            display: flex;
            justify-content: space-around;
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .card{
            width: 400px;
            height: 600px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            height: 50%;
            border-radius: 20px;
        }

        .title{
            font-size: 2rem;
            margin: 5px;
            text-align: justify;
        }

        .description{
            font-size: small;
            margin: 5px;
            text-align: justify;
        }

        a{
            text-decoration: none;
            list-style-type: none;
            color: white;
        }
        .button{
            background-color: black;
            border-radius: 10px;
            padding: 20px 5px;
            margin-top: 20px;
            text-align: center;
            font-size: 1.5rem;
        }

        .carousel-inner{
            height: 25vh;
            border-radius: 5px;
        }

        .footer{
            text-align: center;
            background-color: black;
            padding: 10px;
            border-radius: 5px;
            color: white;
        }
        @media(min-width:0px) and (max-width: 625px) {
            .container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .card{
                margin: 30px;
                width: 300px;
            }
        }    
        
        @media(min-width:625px){
            .card{
                margin: 30px;
                width: 350px;
            }
        }